.template1-ligthness {
    background-color: rgb(248, 246, 244);
}
.navbar {
    background-color: rgb(12, 12, 11);
}

.queries {
    min-width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(197, 120, 19);
}