.template1-ligthness {
    background-color: rgb(248, 246, 244);
}

.navbar {
    margin-bottom: 0;
    padding: 2em;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.queries {
    min-width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(197, 120, 19);
}